*{
    box-sizing: border-box;
    padding: 0px;
    margin: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(255, 185, 145);
    margin: 0;
    padding: o;
}

.checkboxbrowser{
    display: flex;
}

.checkbox{
    flex: auto;
}

nav{
    display: flex;
    flex-direction:column ;
}

header{
    justify-content: space-evenly;
}