*{
    box-sizing: border-box;
    padding: 0px;
    margin: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(255, 185, 145);
}

/* nav{
    justify-content: flex-end;    
} */

/* .checkboxbrowser{
    justify-content: flex-end;
} */

/* nav, .checkboxbrowser {
    display: table-row;
    al
} */

.contenedor1{
    display: table-row;
    align-content: flex-start;
}

.container-text-center{
    display: inline-flexbox;
    justify-content:space-around
}